/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('home_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100vh;
  text-align: center;
  color: white;
  h1 {
    font-size: 50px;
    font-weight: bold;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .banner-flex-item {
    flex: 1 1 auto;
    height: 428px;
  }
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .banner-flex-item {
    flex: 0 1 auto;
  }
}

#yours-img {
  background-image: url('girl_soldier.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#yours {
  padding: 60px;
  background-color: #f1c40f;
  li {
    margin-bottom: 12px;
  }
}
