<div class="banner flex-vertical" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(<%= asset_url('home_banner.jpg') %>);">
  <div class="banner-flex-item">
    <h1 class="title"><%= t('.title', default: "Chroniques d'une affranchie") %></h1>
  </div>
  <div class="banner-flex-item">
    <h4 class="subtitle"><%= t('.subtitle', default: "Carnets de justice") %></h4>
  </div>
</div>
<div class="container">
  <div class="stream">
    <% @articles.each do |article| %>
      <%= render "shared/article", article: article %>
    <% end %>
  </div>
</div>
<% content_for :js do %>
  <script>
    $(document).ready(function() {
      if ($('.alert').length > 0) {
        $('.navbar-fixed').css('top', 52);
        setTimeout(function() {
          $('.navbar-fixed').css('top', 0);
        }, 5000);
      }
      $(window).on('scroll', function() {
        if ($('.stream').position().top - 70 <= $(window).scrollTop()) {
          $('nav').addClass('navbar-white');
        } else {
          $('nav').removeClass('navbar-white');
        }
      })
    })
  </script>
<% end %>