<div class="banner flex-vertical">
  <div class="banner-flex-item">
    <h1 class="title"><%= t('.title', default: "Chroniques d'une affranchie") %></h1>
  </div>
  <div class="banner-flex-item">
    <h4 class="subtitle"><%= t('.subtitle', default: "Carnets de justice") %></h4>
  </div>
</div>
<div class="container">
  <div class="stream">
    <% @articles.each do |article| %>
      <%= render "shared/article", article: article %>
    <% end %>
  </div>
</div>
<% content_for :js do %>
  <script>
    $(document).ready(function() {
      $(window).on('scroll', function() {
        if ($('.stream').position().top - 70 <= $(window).scrollTop()) {
          $('nav').addClass('navbar-white');
        } else {
          $('nav').removeClass('navbar-white');
        }
      })
    })
  </script>
<% end %>